/*
Admin Bar.
*/
#wp-admin-bar-quick_cache > a:after
{
	content        : ' ';
	width          : 16px;
	height         : 16px;

	border         : 0;
	padding        : 0;
	vertical-align : middle;
	margin         : -3px 0 0 5px;
	display        : inline-block;
	background     : url('../images/clear.png');
}
#wp-admin-bar-quick_cache.clearing > a:after
{
	background        : url('../images/spinner.png');
	-webkit-animation : quick_cache_spinner 1s infinite linear;
	animation         : quick_cache_spinner 1s infinite linear;
}

/*
AJAX Responses.
*/
#quick_cache-ajax-response
{
	top                 : -100%;
	left                : 50%;
	z-index             : 10000;
	position            : fixed;

	color               : #FFFFFF;
	text-align          : center;
	font                : 14px/1em sans-serif;

	padding             : 10px;
	width               : 500px;
	margin              : 0 0 0 -250px;

	border-radius       : 4px;
	border              : 1px solid #EEEEEE;
	box-shadow          : 0 0 5px 0 #000000 inset, 0 0 100px 10px rgba(0, 0, 0, 0.3);
	background          : #333333 url('../images/clear-response.png') no-repeat 5px 5px;

	outline             : none;
	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
#quick_cache-ajax-response:before
{
	font-size : 130%;
	content   : '\00d7';
	float     : right;
}
#quick_cache-ajax-response:hover
{
	opacity : 0.8;
}
#quick_cache-ajax-response p
{
	margin      : 0;
	padding     : 0;
	line-height : 1.1em;
}
#quick_cache-ajax-response code
{
	font-size     : 16px;
	color         : #000000;

	border-radius : 3px;
	background    : #EEEEEE;
	padding       : 1px 3px 1px 3px;
}

/*
Animation definitions.
*/
@keyframes quick_cache_spinner
{
	0%
	{
		transform : rotate(0deg);
	}
	100%
	{
		transform : rotate(360deg);
	}
}
@-webkit-keyframes quick_cache_spinner
{
	0%
	{
		-webkit-transform : rotate(0deg);
	}
	100%
	{
		-webkit-transform : rotate(360deg);
	}
}