/*[pro strip-from='lite']*/

#wp-admin-bar-zencache-wipe,
#wp-admin-bar-zencache-clear {
  > a {
    &::after {
      border:                 0;
      padding:                0;
      content:                ' ';
      width:                  16px;
      height:                 16px;
      line-height:            16px;
      vertical-align:         middle;
      margin:                -3px 0 0 5px;
      display:                inline-block;
    }
  }

  &.-wipe {
    > a {
      &::after {
        content:              url('../images/wipe.png');
      }
    }
  }

  &.-clear {
    > a {
      &::after {
        content:              url('../images/clear.png');
      }
    }
  }

  &.-processing {
    > a {
      &::after {
        @include zencache-admin-bar-animation-spin;

        content:              url('../images/spinner.png');
      }
    }
  }
}

/*[/pro]*/
